/* * {
 border: 1px solid purple;
} */


body {
    font-family: Arial, sans-serif
  }

  
svg {
    overflow: visible;
    margin: 50px;
  }
  
  .uiPanel {
    height:150px;
    width: 150px;
    float: left;
  }

  .radioPanel{
    font-size: 14px;
    float: left;
  }

  input, button {
    padding: 5px;
    border-radius: 3px;
    margin: 5px 2px;
  }

  input {
    height: 14px;
    width: 85px;
  }

  button {
    background: #B3E5FC;
    color: black;
    border: 0;
    outline: none;
    height: 30px;
    width: 110px;
  }